@font-face {
    font-family: body-font;
    src: url(IBMPlexSans-Text.woff2)
}

@font-face {
    font-family: heading-font;
    src: url(IBMPlexSerif-SemiBold.woff2)
}

* {
    font-size: 15px;
}
html {
    font-family: body-font, sans-serif;
} 

body {
    margin: 0;
    background: #b2cbd1;
}

div.content {
    max-width: 900px;  /* For Desktop PC (see @media for Tablets/Phones) */
    padding: 2%;
    margin: 10px auto ;
    background: white;
    border-radius: 8px;
}

a {
  color: black;
  font-weight: bold;
}

img {
    border: none;
    width: 35%;
    float: left; 
    padding-right: 2%
}

p {
  margin-top: 0px;
  text-align: left;
}

div.heading {
    font-family: heading-font;
    font-size: 1.2em;
    color: #9E3B1C;
    margin-top: 4ch;
}

.title {
  text-decoration: none;
}

fieldset {
    border: 2px groove lightgray;
    border-radius: 4px;
    background: #f2f2f2;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

textarea {
    resize: none;
    width: 75%;
}

.req:after {
content:" *";
color: #9E3B1C;
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a {
    font-family: heading-font;
    font-size: 1em;
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
}

.header h3 {
    margin: 0;
    font-family: heading-font;
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    
}

.header a:hover {background-color: #e6e6e6;}

.header a.button {
    background-color: #b2cbd1;
}
.header a.button:hover {background-color: #9cb2b8;}

@media (max-width: 500px) { /* For small screen decices */
    * {font-size: 12px;}
    
    .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}   